
body {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212121;
    padding: 20px 0; 
    background: top/cover  url("https://png.pngtree.com/thumb_back/fh260/background/20211023/pngtree-aesthetic-plain-background-with-pastel-colors-image_913186.png"); 
}

h1, h2 {
    color: #D32F2F;
    margin: 20px 0;
}

button {
    color: #FFFFFF;
    background-color: #5D4037;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8D6E63;
}

#count-el {
    margin-top: 30px;
    color: #388E3C;
    font-size: 4rem;
}

#save {
    margin-top: 40px;
    background-color: #616161;
    color: #FFECB3;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#save-el {
    color: #E64A19;
    font-size: 1.5rem;
    margin-top: 20px;
}

#btn1 {
    background-color: #757575;
}
